
.darklogo{
    display: none;
}
.dark .lightlogo{
    display: none;
}

.dark .darklogo {
    display: inline;
}

.navicons{
    width: 100px;
    display: flex;
    gap: 8px;
    justify-content: end;
}

.navicons svg{
    fill: var(--text);
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    cursor: pointer;
}

.navicons button{
    width: 24px;
    height: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.bag, .baghover{
    transform: scale(1);
}

.baghover{
    z-index: 10;
    opacity: 0;
    position: absolute;
}

.baghover:hover{
    opacity: 1;
}

.baghover:hover ~ .bag{
    opacity: 0;
}

.moon, .moonhover{
    transform: scale(1);
}

.moonhover{
    z-index: 10;
    opacity: 0;
    position: absolute;
}

.moonhover:hover{
    opacity: 1;
}

.moonhover:active{
    transform: scale(0.8);
    opacity: 1;
}

.moonhover:hover ~ .moon{
    opacity: 0;
}

.sun, .sunhover{
    transform: scale(1);
    display: none;
}

.dark .moon, .dark .moonhover{
    display: none;
}

.dark .sun, .dark .sunhover{
    display: inline;
}

.sunhover{
    z-index: 10;
    opacity: 0;
    position: absolute;
}

.sunhover:hover{
    opacity: 1;
}

.sunhover:active{
    transform: scale(0.8);
    opacity: 1;
}

.sunhover:hover ~ .sun{
    opacity: 0;
}

.close{
    z-index: 52;
    opacity: 0;
    position: absolute !important;
    right: 20px;
}

.close.out{
    opacity: 1;
}
.hamburger.out{
    opacity: 0;
}


.hamburger, .close{
    transform: scale(1);
}